.user-table-container {
}

.table-name-area {
    font-weight: bold;
}

.table-name-area:hover {
    cursor: default;
}

.dept-area {
    color: forestgreen;
}
.dept-area:hover {
    cursor: default;
}

.user-area {
    margin-bottom: 10px;
}
.name-area {
    font-weight: bold;
}

.user-area:hover {
    cursor: pointer;
}