.welcome-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-table {
    width: 1000px;
    max-height: 500px;
    margin-left: 50px;
    margin-top: 0;
}

.search-user-table {
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
    float: left;
}

.all-user-table {
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
    float: left;
}

.select-user-table {
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
    float: left;
}